/* _about */

@import "mixins";

.aboutSect {
	display: block;
	min-height: 20%;
	padding: 0 17% 60px 17%;
}
.aboutHeadBefore {
	/* main.scss >> .headBefore */
	@include transform(translate(-64px, 46px) rotate(23deg));
}
/* main.scss >> p */