/* _landing */

@import "mixins";
@import "animations";

.landingSect {
	height: 100%;
	width: 100%;
	@include background-image("../../images/004.jpg");
}
.landingCont {
	/* main.scss >> .sectionCont */
	background-color: rgba(0, 0, 0, 0.5);
	@include animation(fadeIn 2.5s ease-in-out);
}
#burgerNoJS {
	display: none;
}
#burgerNoJS + label {
	@extend .burger;
	z-index: 100;
}
.burger {
	cursor: pointer;
	position: absolute;
	top: 30px;
	right: 30px;
	height: 24px;
	width: 32px;
}
.burger span {
	position: absolute;
	height: 1px;
	width: 32px;
	background-color: rgba(199, 0, 57, 1);
	transition: all 0.4s ease-in-out;
	@include animation(burgerLoad 3.5s ease-in-out);
}
.burger span:nth-child(1) {
	top: 0px;
}
.burger span:nth-child(2), .burger span:nth-child(3) {
	top: 12px;
}
.burger span:nth-child(4) {
	top: 24px
}
.burger span:nth-child(1).open, .burger span:nth-child(4).open, #burgerNoJS:checked ~ div.container div.burger span:nth-child(1), #burgerNoJS:checked ~ div.container div.burger span:nth-child(4) {
	top: 12px;
	width: 0px;
	@include transform(translateX(18px));
}
.burger span:nth-child(2).open, #burgerNoJS:checked ~ div.container div.burger span:nth-child(2) {
	@include transform(rotate(45deg));
}
.burger span:nth-child(3).open, #burgerNoJS:checked ~ div.container div.burger span:nth-child(3) {
	@include transform(rotate(-45deg));
}
.head, .portCont {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 200px;
	width: 100%;
	@include transform(translate(-50%, -50%));
}
.head {
	z-index: 1;
}
.head.open, #burgerNoJS:checked ~ .head {
	z-index: 0;
}
.headCont {
	position: absolute;
	top: 50%;
	left: 50%;
	padding-left: 10px;
	overflow: hidden;
	transition: all 0.5s 0.2s ease-in-out;	
}
.headCont.open, #burgerNoJS:checked ~ .head div.headCont {
	transition: all 0.5s ease-in-out;
}
.fNameCont {
	@include transform(translate(-104px, -120%) skew(-30deg));
}
.fNameCont.open, #burgerNoJS:checked ~ .head div.fNameCont {
	left: calc(15% - 136px);
	@include transform(translate(0, -120%) skew(0deg));
}
.lNameCont {
	@include transform(translate(20px, 20%) skew(-30deg));
}
.lNameCont.open, #burgerNoJS:checked ~ .head div.lNameCont {
	left: 15%;
	@include transform(skew(0deg));
}
.motionCont {
	@include transform(translate(-50%, -386%));
}
.aboutCont {
	@include transform(translate(-50%, 66%));
}
.stillsCont {
	@include transform(translate(-50%, -166%));
}
.contactCont {
	@include transform(translate(-50%, 286%));
}
.landingHead {
	display: inline-block;
	font-size: 18px;
	font-weight: 200;
	letter-spacing: 12px;
	text-transform: uppercase;
	color: rgba(250, 250, 250, 1);
	transition: all 0.5s ease-in-out;
}
.fName {
	@include transform(skew(30deg));
	transition: all 0.5s 0.2s ease-in-out;
	@include animation(fNameLoad 2.8s ease-out);
}
.fName.open, #burgerNoJS:checked ~ .head div.fNameCont span.fName {
	@include transform(translate(110%, 0) skew(0deg));
	transition: all 0.5s ease-in-out;
}
.lName {
	@include transform(skew(30deg));
	transition: all 0.5s 0.2s ease-in-out;
	@include animation(lNameLoad 2.8s ease-out);
}
.lName.open, #burgerNoJS:checked ~ .head div.lNameCont span.lName {
	@include transform(translate(-110%, 0) skew(0deg));
	transition: all 0.5s ease-in-out;
}
.stills.open, #burgerNoJS:checked ~ .portCont div.stillsCont a span.stills {
	@include transform(translate(0, 0) skew(0deg));
}
.part {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 80px;
	width: 1px;
	background-color: rgba(199, 0, 57, 1);
	@include transform(translate(26px, -50%) rotate(30deg));
	transition: all 0.5s 0.2s ease-in-out;
	@include animation(partLoad 2.5s ease-in-out);
}
.part.open, #burgerNoJS:checked ~ .head span.part {
	left: 15%;
	height: 120px;
	@include transform(translate(-50%, -50%) rotate(0deg));
	transition: all 0.5s ease-in-out;
}
.portHead {
	cursor: pointer;
	color: rgba(250, 250, 250, 0);
}
.portHead.open, #burgerNoJS:checked ~ .portCont div.headCont a span.portHead {
	color: rgba(250, 250, 250, 1);
	transition: all 0.5s 0.2s ease-in-out;
}
.portHead.fade {
	color: rgba(250, 250, 250, 0.5);
	transition: all 0.3s ease-in-out;
}
.arrowCont {
	position: relative;
	top: 90%;
	left: 50%;
	text-align: center;
	@include transform(translate(-50%, -50%));
}
.arrow {
	height: 60px;
	cursor: pointer;
	@include transform(rotate(180deg));
}
.arrowPoly {
	fill: rgba(250, 250, 250, 0);
	@include animation(pulse 4s 3s infinite ease-in-out);
}
.arrow:hover .arrowPoly {
	fill: rgba(250, 250, 250, 1);
	@include animation(pulse 4s 3s ease-in-out);
}