@mixin background-image($path) {
	background-image: url($path);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
@mixin transform($morph) {
	-webkit-transform: $morph;
	transform: $morph;
}
@mixin animation($properties) {
	-webkit-animation: $properties;
	-moz-animation: $properties;
	-o-animation: $properties;
	animation: $properties;
}
@mixin columns($count, $gap) {
	-webkit-column-count: $count;
	-moz-column-count: $count;
	column-count: $count;
	-webkit-column-gap: $gap;
	-moz-column-gap: $gap;
	column-gap: $gap;
}
@mixin filter($scale) {
	filter: grey;
	-webkit-filter: greyscale($scale);
	filter: grayscale($scale);
}
@mixin noFilter($scale) {
	filter: none;
	-webkit-filter: greyscale($scale);
	filter: grayscale($scale);
}