/* _motionSect */

@import "mixins";

.motionSect {
	position: relative;
	height: calc(66% + 138px);
	min-height: 320px;
	width: 100%;
	background-color: rgba(199, 0, 57, 1);
	/*padding: 0 0 30px 0;*/
}
.motionHeadBefore {
	background-color: black;
	@include transform(translate(-75px, 46px) rotate(23deg));
}
.motionHead {
	color: white;
}
.videoCont {
	position: relative;
	/*top: 138px;*/
	height: calc(100% - 143px);
	width: calc(100% - 10px);
	margin: 0 5px 5px 5px;
	@include background-image("../../images/screenshot2.jpg");
}
.videoCont iframe {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 100;
}
.play {
	top: 50%;
	@include transform(translateY(-50%));
}
.play svg {
	height: 80px;
	width: 80px;
	cursor: pointer;
}
.play svg path {
	transition: all 0.3s ease-in-out;
}
.play svg path:nth-child(1) {
	fill: rgba(0, 0, 0, 0.5);
}
.play svg:hover path:nth-child(1) {
	fill: rgba(0, 0, 0, 0.6);
}
.play svg path:nth-child(2) {
	fill: rgba(250, 250, 250, 0.3);
}
.play svg:hover path:nth-child(2) {
	fill: rgba(250, 250, 250, 0.9);
}