/* stillsSect */

@import "mixins";

.stillsSect {
	position: relative;
	padding: 17% 0 17% 0;
	background-color: #d4d4d4;
	overflow: auto;
	padding-left: calc((100% - 265px) / 2);
	padding-right: calc((100% - 265px) / 2);
	padding-top: 0;
	padding-bottom: 60px;
}
.stillsHeadBefore {
	@include transform(translate(-68px, 46px) rotate(23deg));
}
.categoryCont {
	display: none;
}
.galleryCont {
	position: relative;
	width: 100%;
	height: 100%;
	@include columns(1, 0);
}
.gallery {
	position: static;
	right: 50%;
	width: calc(100% - 10px);
	max-width: 265px;
	margin: 5px;
	@include filter(1);
	cursor: pointer;
	/*transition: all 0.3s ease-in-out;*/
}
.gallery:hover {
	@include noFilter(0);
}
.gallery.hide {
	display: none;
}
.gallery.animate {
	position: absolute;
}